<div class="intro-section">
    <h1>
    <button type="button" class="button" (click)="displayUsers">Edit</button>
    <button type="button" class="button">Delete<br></button></h1>
    <br>
    <div id="overflow">
        <table>
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.age }}</td>
                    <td>{{ user.email }}</td>
                    <!-- <td>
                <button type="button" >Edit</button>
                <button type="button" >Delete</button>
                </td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
