<section>
    <div class="form-container">
        <h1 class="shadows">Login Form</h1>
        <form action="index.html">
            <div class="control">
                <label for="email" class="shadows">Email</label>
                <input type="email" [formControl]="fCEmail">
            </div>
            <div class="control">
                <label for="psw" class="shadows">Password</label>
                <input type="password" [formControl]="fCPassword">
            </div>
            <span><input type="checkbox"> Remember me</span>
            <div class="control">
                <button type="submit" class="button">Register</button>
                <button type="submit" class="button">Log In</button>
            </div>
        </form>
        <p><a href="#" class="shadows">Forget password ?</a></p>
        <p>Email: {{ fCEmail.value }}</p>
        <p>Password: {{ fCPassword.value }}</p>
    </div>
</section>