<section>
    <div class="form-container">
        <h1 class="shadows">Login Form</h1>
            <div class="control">
                <label for="email" class="shadows">Email</label>
                <input type="email" placeholder="Email@gmail.com" id="email" autocomplete="on" [formControl]="fcEmail" required>
            </div>
            <div class="control">
                <label for="psw" class="shadows">Password</label>
                <input type="password" placeholder="*********" id="password" [formControl]="fcPassword" required>
                <h5 *ngIf="error!=''">{{error}}</h5>
            </div>
        <div class="control">
            <button type="submit" class="button" (click)="nav('register')">Register</button>
            <button type="submit" class="button" (click)="login()">Log In</button>
        </div>
        <p><a href="#" class="shadows">Forget password ?</a></p>
    </div>
</section>