section {
  background: url("../../../assets/bg2.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 7px 7px 60px #000;
}

h1 {
  color: #ffffff;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.shadows {
  text-shadow: 0.025em 0.025em 0 yellow, 0.045em 0.045em 0 blue,
    0.075em 0.075em 0 red, 0.1em 0.1em 0 black;
}

.control input {
  padding: 8px;
  font-size: 16px;
  display: block;
  width: 100%;
  color: #000;
  background: #ddd;
  outline: none;
  border: none;
  margin: 1em 0;
}

.control .btn {
  color: #fff;
  text-transform: uppercase;
  background: crimson;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.btn:focus {
  opacity: 1;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}

a:hover {
  opacity: 1;
}
