// section.bg {
//   margin: 0;

//   font-family: "Inter", sans-serif;
//   font-size: 18px;
//   line-height: 28px;

//   background-image: url("../../../assets/bg2.jpg");
//   background-repeat: no-repeat;
//   background-position-x: right;
//   background-position-y: 86px;
//   background-attachment: fixed;
//   scroll-behavior: smooth;
// }
.site-header {
  position: sticky;
  top: 0;
  z-index: 1;
  // background-color: #ffffff;
  background-color: #f9fafb;
}

.site-header-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  height: 50px;
  padding: 0 24px;
  margin: 0 auto;
}

.site-logo {
  margin: 0;

  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #1f2937;

  transition-property: color;
  transition-duration: 200ms;
  &:hover,
  &:focus {
    color: #f59e0b;
  }
}

.site-nav a {
  margin-left: 42px;

  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #1f2937;

  transition-property: color;
  transition-duration: 200ms;
  &:hover,
  &:focus {
    color: #f59e0b;
  }
}

.intro-section {
  display: flex;
  align-items: left;

  max-width: 1000px;
  padding: 0 24px;
  margin: 20px auto;
  margin-bottom: 0;

  padding: 205px 110px;
  border-radius: 10px;
  box-shadow: 7px 7px 60px #000;
  h1 {
    margin: 0;
    font-size: 40px;
    line-height: 48px;
    color: #4b5563;
  }
  border-spacing: 0;

  button {
    display: inline-block;
    padding: 14px 42px;
    margin-top: 56px;
    margin-bottom: 0;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    color: #7c3aed;
    background-color: #ffffff;
    transition-property: background-color, color;
    transition-duration: 200ms, 200ms;
    border-color: #f9fafb;
    &:hover,
    &:focus {
      color: #ffffff;
      background-color: #f59e0b;
    }
  }
}

@media screen and (max-width: 500px) {
  .secction {
    padding: 70px 30px;
  }
}

.section {
  max-width: 760px;
  padding: 150px 100px;
  margin: 0 auto;
}

.shadows {
  text-shadow: 0.025em 0.025em 0 yellow, 0.045em 0.045em 0 blue,
    0.075em 0.075em 0 red, 0.1em 0.1em 0 black;
}

.social-links {
  width: 32px;
  padding: 8px;
  position: fixed;
  right: 10px;
  bottom: 70px;
  background-color: #1f2937;
  a {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    font-size: 0;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    transition-property: background-color;
    transition-duration: 200ms;
    :not(:last-child) {
      margin-bottom: 8px;
    }
    &:hover,
    &:focus {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
  .facebook {
    background-image: url("../../../assets/icon-facebook.svg");
  }
  .youtube {
    background-image: url("../../../assets/icon-youtube.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.site-footer {
  padding: 32px 24px;
  text-align: center;
  background-color: #f9fafb;
  position: fixed;
  height: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  p {
    margin: 0;
    color: #4b5563;
  }
}
