<header class="site-header">
    <div class="site-header-contents">
        <a href="home" class="site-logo shadows">Cristopher Bohol</a>

        <nav class="site-nav">
            <a routerLink="/login" class="shadows">SignOut</a>
        </nav>
    </div>
</header>

<div class="intro-section">
    <h1>
    <button type="button" class="button" (click)="displayUsers">Edit</button>
    <button type="button" class="button">Delete<br></button></h1>
    <br>
    <div style="overflow-y:auto;">
        <table>
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.age }}</td>
                    <td>{{ user.email }}</td>
                    <!-- <td>
                <button type="button" >Edit</button>
                <button type="button" >Delete</button>
                </td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>

<footer class="site-footer">
    <p>Made with ❤️ by Cristopher Bohol</p>
</footer>