<header class="site-header">
    <div class="site-header-contents">
    <a href="/" class="site-logo shadows">Cristopher Bohol</a>

    <nav class="site-nav">
        <a href="#about" class="shadows">About</a>
        <a href="#education" class="shadows">Education</a>
        <a href="#contact" class="shadows">Contact</a>
        <a routerLink="/login" class="shadows">SignOut</a>
    </nav>
    </div>
</header>

<div class="intro-section">
    <img src="../../../assets/profile.jpg" alt="A photo" width="250" height="250" />

    <h1>
    Hi, I am <span class="highlight-name">Cristopher Bohol,</span> a Third Year Computer Science Student in <span class="highlight-name">University of San Jose Recoletos.</span>
    </h1>
</div>

<section id="about" class="section about-section">
    <h2>About me</h2>

    <p>
    I am currently Thitd Year College student of University of San Jose Recoletos with a Bachelor Degree of <strong>Bachelor Science in Computer Science</strong>.
    </p>
    <p>
    I'm passionate of getting a job that is related to my specified field in Computer Science.
    </p>
</section>

<div class="banner-image">
    <p class="banner-attribution">
    Photo by <a href="https://unsplash.com/@jonflobrant" target="_blank">Jon Flobrant</a> on
    <a href="https://unsplash.com" target="_blank">Unsplash</a>
</p>
</div>

<section id="education" class="section work-section">
<h2 class="shadows">Education History</h2>

<article class="education">
    <h3 class="school">Elementary: <strong>Malubog Integrated School</strong></h3>
    <p class="year_graduated">Year Graduated: <strong>2012</strong></p>
    <p>
    Graduated with great learning.
    </p>
    </article>

    <article class="education">
    <h3 class="school">Junior High School: <strong>Malubog Integrated School</strong></h3>
    <p class="year_graduated">Year Graduated: <strong>2016</strong></p>
    <p>
        Graduated Valedictorian
    </p>
    </article>

    <article class="education">
        <h3 class="school">Senior High School: <strong>Asian College of Technology</strong></h3>
    <p class="year_graduated">Year Graduated: <strong>2018</strong></p>
    <p>
        Graduated With Honors
    </p>
    </article>

    <article class="education">
        <h3 class="school">College: <strong>University of San Jose Recoletos</strong></h3>
        <p class="year_graduated">Year: <strong>2018 - Present</strong></p>
        <p>
            Currently Third Year Computer Science Student
        </p>
    </article>
</section>

<section id="contact" class="section contact-section">
    <h2 class="shadows">Get in touch</h2>

    <p>My inbox is always open for possible project collaborations or if you just want to say hi!</p>
    <a href="mailto:cristopher.bohol.21@gmail.com" class="email-button">Send me an email</a>
</section>

<div class="social-links">
    <a href="https://facebook.com/microtoph.143" target="_blank" class="facebook">Facebook</a>
    <a href="https://www.youtube.com/channel/UCSDwltotavFWMity5FJLWUg" target="_blank" class="youtube">Instagram</a>
</div>

<footer class="site-footer">
    <p>Made with ❤️ by Cristopher Bohol</p>
</footer>