* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
html {
    scroll-behavior: smooth;
}